:root {
    --font-size: 12px; /* Default font size */
    --glow-color: #5CFF5C; /* Default glow color */
    --glow-blur-1: 2px; /* First blur radius */
    --glow-blur-2: 4px; /* Second blur radius */
    --glow-blur-3: 18px; /* Third blur radius */
}

#terminal {
    width: 1300px;
    height: 1428px;
    border: 1px solid #000;
    background-color: #000;
}

#terminal .terminal-output div div, 
#terminal .terminal-output div span, 
#terminal .terminal-output div a {
    color: lime !important;
    font-family: 'IBM Plex Mono', monospace; /* Example font */
    font-size: var(--font-size); /* Example font size */
    white-space: pre-wrap;
    text-shadow: 0 0 var(--glow-blur-1) var(--glow-color), 
                0 0 var(--glow-blur-2) var(--glow-color), 
                0 0 var(--glow-blur-3) var(--glow-color); /* Example glow */
}

/* input styling */
/* input styling */
#terminal .cmd span {
    color: lime !important; 
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: var(--font-size);
}

/* BAR ANIMATION */
.terminal {
    --color: lime;
    --background: white;
    width: 5px;

  }
/*codepen*/
#terminal {
    position: relative;
    overflow: hidden;
    background: #1e1e1e;
    color: #5CFF5C;
    font-family: 'IBM Plex Mono', monospace;
    box-shadow: inset 0 2px 0 rgba(0, 255, 0, 0.15), 0 0 50px rgba(0, 255, 0, 0.2);
    --size: 100% 100%;
}

#terminal::before, #terminal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;

}

#terminal::before {
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 1, 0.8) 1px, transparent 1px, transparent 2px);
}


#terminal::after {
    background: radial-gradient(circle, rgb(208, 19, 19), transparent), var(--size), var(--size);
    animation: crt 5s infinite;
}

#terminal .cmd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0.8) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
    text-shadow: 0 0 var(--glow-blur-1) var(--glow-color), 
    0 0 var(--glow-blur-2) var(--glow-color), 
    0 0 var(--glow-blur-3) var(--glow-color);
    z-index: 1;
}
#terminal .cmd {
    position: relative;
}


@keyframes crt {
    to {
        background-size: var(--size), 100% 2px, 100% 2px;
    }
}


